/* RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  padding: 0;
  margin: 0;
}

/* ol, ul, li,*/
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #333;
}

@font-face {
  font-family: 'Timepiece';
  src: url('../font/Timepiece.ttf') format('truetype');
}

.ctn-main {
  margin-top: 50px;
  width: 660px;
  height: 900px;
  background-image: url(../img/background.png);
  top: 63%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 20px;
  border: 3px solid black;
}

h3 {
  font-family: 'Timepiece', sans-serif;
  font-size: 44px;
  font-weight: 400;
  bottom: 250px;
  position: absolute;
  right: 130px;
  color: #000;
}

h2 {
  font-family: 'Timepiece', sans-serif;
  font-size: 49px;
  font-weight: 400;
  position: absolute;
  bottom: 172px;
  letter-spacing: -5px;
  left: 186px;
  color: #e56c26;
  text-shadow:
    1px 2px 0 black,
    0px 4px 0 black,
    0px 6px 0 black,
    0px 8px 0 black,
    0px 10px 0 black,
    0px 12px 0 black,
    0px 14px 0 black,
    0px 16px 0 black,
    0px 18px 0 black,
    0px 20px 0 black,
    0px 22px 0 black,
    0px 24px 0 black,
    0px 26px 0 black,
    0px 28px 0 black,
    0px 30px 0 black,
    0px 32px 0 black;
}

h2 span {
  font-size: 113px;
  position: absolute;
  right: 234px;
  bottom: -28px;
  text-shadow:
    1px 2px 0 black,
    0px 4px 0 black,
    0px 6px 0 black,
    0px 8px 0 black,
    0px 10px 0 black,
    0px 12px 0 black,
    0px 14px 0 black,
    0px 16px 0 black;
}

h1 {
  font-family: 'Timepiece', sans-serif;
  font-size: 145px;
  font-weight: 400;
  position: absolute;
  bottom: 40px;
  letter-spacing: -15px;
  left: 117px;
  color: #e56c26;
  text-shadow: 1px 2px 0 black,
    2px 4px 0 black,
    3px 6px 0 black,
    4px 8px 0 black,
    5px 10px 0 black,
    6px 12px 0 black,
    7px 14px 0 black,
    8px 16px 0 black,
    9px 18px 0 black,
    10px 20px 0 black,
    11px 22px 0 black,
    12px 24px 0 black,
    13px 26px 0 black,
    14px 28px 0 black,
    15px 30px 0 black,
    16px 32px 0 black;
}

h1 span {
  font-size: 200px;
  position: absolute;
  left: -96px;
  bottom: -47px;
  text-shadow: 1px 2px 0 black,
    0px 4px 0 black,
    0px 6px 0 black,
    0px 8px 0 black,
    0px 10px 0 black,
    0px 12px 0 black,
    0px 14px 0 black,
    0px 16px 0 black,
    0px 18px 0 black,
    0px 20px 0 black,
    0px 22px 0 black,
    0px 24px 0 black,
    0px 26px 0 black,
    0px 28px 0 black,
    0px 30px 0 black,
    0px 32px 0 black;
}
